
<div class="btn-group">
  {{#each allBrowserFamilies as |family|}}
    <button class="btn btn-square relative {{if (contains family.id (map-by 'id' existingBrowserFamilies)) "is-browser-active"}}" {{action "updateProjectBrowserTargets" family}}>
      {{inline-svg (concat family.slug "-browser-icon") class="opacity-25"}}
    </button>
  {{/each}}
</div>

