.marketing-content-block {
  ul {
    list-style: none;
  }

  .content-block-body-text {
    li {
      margin-top: 10px;
    }
  }

  .content-block-supporting-text-section {
    ul {
      margin-top: -10px;
      font-weight: 600;
    }
  }
}

