<div class="container container--forContent container--fixedWidth">
  <h3>Welcome!</h3>
  <p>
    Let's start by creating a new organization to contain your projects. After setup, you can invite team members to join your organization.
  </p>

  {{#if isGithubPurchase}}
    <h2>Step 1: Connect to GitHub</h2>
      <!-- need github account button -->

    <h2>Step 2: Create an Organization</h2>
  {{/if}}

  <p>
    If your organization already has Percy set up, ask an administrator send you an invite.
  </p>

  is submit diabled? {{isSubmitDisabled}}
  <!-- Users should only be able to create orgs if they've connected their github account for marketplace purchases -->
  {{#if isGithubPurchase}}
    <!-- Message about how connecting your github account is required to successfully complete and connect github purchases -->
  {{/if}}

  {{forms/organization-new
    saveSuccess=organizationCreated
    marketplaceListingPlanId=marketplaceListingPlanId
    isSubmitDisabled=isSubmitDisabled
  }}
</div>
